html, body {
  margin: 0px;
  height: 100%;
  background-color: #444;
}

#sidebar {
	grid-area: sidebar;
	overflow-y: scroll;
}

#content {
	grid-area: content;
}

.header {
	grid-area: header;
	font-family: Helvetica, sans-serif
}

.footer{
  grid-area: footer;
}

.sideBarItem{
	max-height: 50px;
	max-width: 50px;
	padding:5px;
}

.sideBarItem img{
	max-height: 50px;
	max-Width:50px;
}

.colourPalette{
	/* grid-area: colourP;
	display:grid;
	width: max-content;
	height: inherit;
	z-index: 5; */
	grid-area: colourP;
	display:flex;
	flex-direction:grid;
	flex-flow: wrap;
	z-index: 0;
}

.inputBoxes{
	grid-area: inputBoxes;
}

.inputs{
	margin-left: 350px;
}
.inputs input{
	display: inline;
	float: right;
}
.box1{
	margin-top: 10px;
}
.box2{
	margin-top: 25px;
	margin-bottom: 25px;
}
#expand{
	float: right;
	height: 140px;
	margin-top: 10px;
	margin-left: 20px;
	background: blanchedalmond;
	width: 30px;
}
#expand:active{
	background: gray;
}

.options{
	grid-area: options;
	padding-left: 15px;
	padding-top: 5px;
}
.options button{
	font-size: 15px;
}

#saveImageButton{
	background-color:forestgreen;
}
#clearButton{
	background-color:tomato;
}
#undoButton{
	background-color: wheat;
}
.colourSwatches{
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	max-height: 38px;
	max-width: 40px;
	margin: 5px;
	margin-bottom: 0px;
	display: inline-block;
}

.wrapper {
	display: grid;
	height: 100%;
	grid-template-columns: 70px 580px  minmax(500px, 1fr);
	grid-template-rows: 35px minmax(500px, 1fr) 160px;
	grid-template-areas:
			"header header header"
			"sidebar content content"
			"colourP inputBoxes  options";
	background-color: #fff;
	color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.header {
  background-color: #999;
}
